.cards__item {
  width: 282px;
  height: 361px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 950px) {
  .cards__item {
    width: 100%;
    min-width: 250px;
    height: 100%;
	}
}
