.cards__title {
  max-width: 190px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 950px) {
  .cards__title {
    min-width: 80%;
	}
}
